*/Apertus-FT
*/logs
*/.deepspeed_env
*/venv-apertus
*.pyc
*/__pycache__
*/.cache
finetuning/wandb_*
merged_*
finetuning/debug_logs/*
*/venv-eval/
*/merged_model/
*/.venv
*/plots
*/wandb
*/.litellm_cache
/evaluation/results
