# Environment Definition File for SLDS Evaluation (GH200)
image = "/iopsstor/scratch/cscs/mneuwinger/tt-scale-vllm-0.11.0.sqsh"

mounts = [
    "/capstor",
    "/iopsstor",
    "/users"
]

writable = true

[annotations]
com.hooks.aws_ofi_nccl.enabled = "true"
com.hooks.aws_ofi_nccl.variant = "cuda12"

[env]
NCCL_DEBUG = "INFO"
NCCL_NET = "AWS Libfabric"
NCCL_NET_GDR_LEVEL = "PHB"
NCCL_CROSS_NIC = "1"
NCCL_PROTO = "^LL128"

TORCH_NCCL_ASYNC_ERROR_HANDLING = "1"
TRITON_HOME = "/dev/shm/"

CUDA_CACHE_DISABLE = "1"
MPICH_GPU_SUPPORT_ENABLED = "0"

FI_CXI_DEFAULT_CQ_SIZE = "131072"
FI_CXI_DEFAULT_TX_SIZE = "16384"
FI_CXI_DISABLE_HOST_REGISTER = "1"
FI_CXI_RX_MATCH_MODE = "software"
FI_MR_CACHE_MONITOR = "userfaultfd"
